Options +MultiViews
RewriteEngine On

RewriteBase /framework

RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !-f

RewriteRule ^(.+)[(\.php)(\.html)(\.htm)][^(css)(js)(ts)]$ index.php?url=$1 [QSA,L]